Notepad-Mobile/Notepad-Mobile/Service References/NotepadServiceProxy/Notepad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NotepadServiceRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NotepadServiceRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDC" nillable="true" type="tns:UserDC" />
  <xs:complexType name="NoteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteId" type="xs:int" />
      <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteDC" nillable="true" type="tns:NoteDC" />
  <xs:complexType name="GroupDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDC" nillable="true" type="tns:GroupDC" />
  <xs:complexType name="ArrayOfNoteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteDC" nillable="true" type="tns:NoteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteDC" nillable="true" type="tns:ArrayOfNoteDC" />
  <xs:complexType name="ArrayOfUserDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDC" nillable="true" type="tns:UserDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDC" nillable="true" type="tns:ArrayOfUserDC" />
</xs:schema>