Notepad-Mobile/Notepad-Mobile/Service References/NotepadServiceProxy/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/Notepad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Notepad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/Notepad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotepadServiceRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotepad_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="INotepad_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateNote_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNote" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddUserToGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddUserToGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddNoteToGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteToGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_AddNoteToGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_RemoveUserFromGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_RemoveUserFromGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_RemoveNoteFromGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNoteFromGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_RemoveNoteFromGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNoteFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNote" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroup" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetUserNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotes" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetUserNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotesResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroupNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupNotes" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroupNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupNotesResponse" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroupUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupUsers" />
  </wsdl:message>
  <wsdl:message name="INotepad_GetGroupUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="INotepad">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/CheckUser" message="tns:INotepad_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/CheckUserResponse" message="tns:INotepad_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/AddUser" message="tns:INotepad_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/AddUserResponse" message="tns:INotepad_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/UpdateUser" message="tns:INotepad_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/UpdateUserResponse" message="tns:INotepad_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/DeleteUser" message="tns:INotepad_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/DeleteUserResponse" message="tns:INotepad_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/AddNote" message="tns:INotepad_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/AddNoteResponse" message="tns:INotepad_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/UpdateNote" message="tns:INotepad_UpdateNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/UpdateNoteResponse" message="tns:INotepad_UpdateNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/DeleteNote" message="tns:INotepad_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/DeleteNoteResponse" message="tns:INotepad_DeleteNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/AddGroup" message="tns:INotepad_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/AddGroupResponse" message="tns:INotepad_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/UpdateGroup" message="tns:INotepad_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/UpdateGroupResponse" message="tns:INotepad_UpdateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/DeleteGroup" message="tns:INotepad_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/DeleteGroupResponse" message="tns:INotepad_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/AddUserToGroup" message="tns:INotepad_AddUserToGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/AddUserToGroupResponse" message="tns:INotepad_AddUserToGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNoteToGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/AddNoteToGroup" message="tns:INotepad_AddNoteToGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/AddNoteToGroupResponse" message="tns:INotepad_AddNoteToGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/RemoveUserFromGroup" message="tns:INotepad_RemoveUserFromGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/RemoveUserFromGroupResponse" message="tns:INotepad_RemoveUserFromGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveNoteFromGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/RemoveNoteFromGroup" message="tns:INotepad_RemoveNoteFromGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/RemoveNoteFromGroupResponse" message="tns:INotepad_RemoveNoteFromGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetUser" message="tns:INotepad_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetUserResponse" message="tns:INotepad_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetNote" message="tns:INotepad_GetNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetNoteResponse" message="tns:INotepad_GetNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetGroup" message="tns:INotepad_GetGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetGroupResponse" message="tns:INotepad_GetGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetUserNotes" message="tns:INotepad_GetUserNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetUserNotesResponse" message="tns:INotepad_GetUserNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetGroupNotes" message="tns:INotepad_GetGroupNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetGroupNotesResponse" message="tns:INotepad_GetGroupNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/INotepad/GetGroupUsers" message="tns:INotepad_GetGroupUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotepad/GetGroupUsersResponse" message="tns:INotepad_GetGroupUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotepad" type="tns:INotepad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/INotepad/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/INotepad/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/INotepad/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/INotepad/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/INotepad/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap:operation soapAction="http://tempuri.org/INotepad/UpdateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/INotepad/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNoteToGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/AddNoteToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/RemoveUserFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveNoteFromGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/RemoveNoteFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNote">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNotes">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetUserNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNotes">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetGroupNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <soap:operation soapAction="http://tempuri.org/INotepad/GetGroupUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_INotepad" binding="tns:BasicHttpBinding_INotepad">
      <soap:address location="http://127.0.0.1:81/Notepad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>